.controller-hud {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 50vw;
  max-width: 50vh;
  max-height: 50vh;
  aspect-ratio: 1/1;
  pointer-events: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke: gray;
  fill: white;
}
.controller-hud.left {
  left: 0;
}
.controller-hud.right {
  right: 0;
  scale: -1 1;
}

.controller-hud .button {
  r: 10;
}
.controller-hud .button.a {
  cx: 44;
  cy: 73;
}
.controller-hud .button.b {
  cx: 68;
  cy: 51;
}

.controller-hud .thumbstick .background {
  stroke-width: 0;
  fill: #333;
  r: 25;
  cx: 30;
  cy: 28;
}
.controller-hud .thumbstick .stick {
  r: 10;
  cx: 30;
  cy: 28;
}

.controller-hud .trigger.primary {
  translate: 60px 4px;
  rotate: -15deg;
}

.controller-hud .trigger.secondary {
  translate: 68px 70px;
  rotate: 15deg;
}

.controller-hud .touched {
  fill: violet;
}
.controller-hud .pressed {
  fill: darkmagenta;
}
